@import url('https://fonts.googleapis.com/css2?family=Protest+Riot:wght@400;700&display=swap');

.title {
    font-size: 6rem;
    font-family: 'Protest Riot', sans-serif;
    text-align: center;
    color: #ffe9cd;

}